@{
    ViewData["Title"] = "Home Page";
}
    <style>
        body {
            background-image: url('slika/honda-hrc3.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size:cover;  
        }
        div {
            color: lawngreen;
        }
    </style>

<div class="text-center">
    <h1 class="display-4">Motorsport</h1>
    <p>Dobrodošli na aplikaciju za rezultate iz motorsporta.</p>
</div>
